// MAIN HEADER FORMATTING FOR HOME PAGE //
@mixin home-header-formatting {
  padding: 1rem 4rem;
  border: 2px solid $navy-2;
  font-family: 'Montserrat', sans-serif;
  font-size: $home-header-font-size;
  color: $navy-2;
}

// SUB-HEADER FORMATTING FOR HOME PAGE //
@mixin home-sub-header-formatting {
  font-family: 'Montserrat', sans-serif;
  font-size: $sub-header-font-size;
  color: $navy-2;
}

// FORMATTING FOR PROJECT INFO POPUP //
@mixin popup-formatting{
  grid-column: 2 / 3;
  background-color: $white;
  border-radius: 5px;
  padding: 1.6rem;
}

// INITIAL CONDITIONS FOR HIDING DROPDOWN CONTENT //
@mixin hide-content {
  display: none;
  overflow: hidden;
}

// STYLING BUTTON APPEARANCE
@mixin btn-styling {
  align-self: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: $white;
  font-size: $button-font-size;
  color: $navy-2;

  &:hover,
  &:active,
  &:focus {
    background-color: $grey-2;
  }
}

// ONLINE PROFILE, EMAIL, AND SOCIAL MEDIA FORMATTING //
@mixin contact-formatting {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(4, min-content);
  gap: 1rem 0;
  justify-content: center;

  &__header {
    grid-row: 1 / 2;
    grid-column: 1 / span 5;
    justify-self: center;
  }

  &__icon {
    grid-row: 2 / 3;
    height: 6rem;
    width: 6rem;
    margin: 0 2rem;
    padding-top: 1rem;

    @media only screen and (max-width: $bp-laptop) {
      height: 5rem;
      width: 5rem;
      margin: 0 1rem;
    }

    &-box {
      border-top: 1px solid $navy-2;
    }
  }
}
