.active {
  opacity: 1!important;
  visibility: visible!important;
}

.popup {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3000;
  background-color: rgba($navy-2, .9);
  // These two properties are to initially hide the popup //
  opacity: 0;
  visibility: hidden;
  // This property is to add background blur //
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &__close {
    &:link,
    &:visited {
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 3rem;
      text-decoration: none;
    }

    &:hover {
      color: red;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 70%;
    overflow-y: scroll;
    background-color: $grey-2;
    border-radius: 5px;
    transform: translate(-50%,-50%);

    @media only screen and (max-width: $bp-laptop){
      height: 80%;
      width: 80%;
    }
      @media only screen and (max-width: $bp-tablet){
        height: 90%;
        width: 90%;
    }
  }

  // PROJECT INFO POPUP //
  &--learn-more {
    display: grid;
    grid-template-rows: repeat(4, minmax(min-content, 1fr));
    grid-template-columns: 1fr minmax(min-content, 64vw) 1fr;
    padding: 1.6rem;
    gap: 1.6rem 0;

    @media only screen and (max-width: $bp-tablet){
      grid-template-columns: 1fr minmax(min-content, 84vw) 1fr;
    }

    &__about {
      grid-row: 1 / 2;
      @include popup-formatting;
    }

    &__methodology {
      grid-row: 2 / 3;
      @include popup-formatting;
    }

    &__list {
      margin-left: 3rem;
    }

    &__source {
      grid-row: 3 / 4;
      @include popup-formatting;
    }

    &__timesheet {
      grid-row: 4 / 5;
      @include popup-formatting;
    }

    &__header {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    &__icon {
      height: 4rem;
      width: 4rem;
      margin: 1rem;
    }
  }
}